In [1]:
import numpy as np
import pandas as pd

/home/mzimmerman/local/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [20]:
def generate_all_outcomes():
    out = []
    def f(record):
        if record.count('H') == 4 or record.count('L') == 4:
            out.append(record)
        else:
            f(record + 'H')
            f(record + 'L')
    f("")
    return(out)    

outcomes = generate_all_outcomes()

In [4]:
len(outcomes)

70

In [5]:
f232 = 'HHLLLHH'
f22111 = 'HHLLHLH'

def prob(outcome, form):
    out = 1.0
    for p, f in zip(outcome, form):
        #print(p, f)
        if p == f:
            out *= 0.6
        else:
            out *= 0.4
    return out

prob(outcomes[0], f232)

0.0576

In [6]:
def winner(outcome):
    if outcome.count('H') == 4:
        return 'H'
    else:
        return 'L'

winner(outcomes[0])

'H'

In [11]:
data = {
    'outcome': [],
    'p232': [],
    'p22111': [],
    'winner': []
}
for o in outcomes:
    data['outcome'].append(o)
    data['p232'].append(prob(o, f232))
    data['p22111'].append(prob(o, f22111))
    data['winner'].append(winner(o))
df = pd.DataFrame(data)
df

    outcome      p232    p22111 winner
0      HHHH  0.057600  0.057600      H
1     HHHLH  0.034560  0.051840      H
2    HHHLLH  0.031104  0.013824      H
3   HHHLLLH  0.012442  0.012442      H
4   HHHLLLL  0.008294  0.008294      L
..      ...       ...       ...    ...
65  LLLHHHH  0.005530  0.005530      H
66  LLLHHHL  0.003686  0.003686      L
67   LLLHHL  0.006144  0.013824      L
68    LLLHL  0.023040  0.015360      L
69     LLLL  0.057600  0.057600      L

[70 rows x 4 columns]

In [12]:
df.p232.sum()

0.9999999999999999

In [13]:
df.p22111.sum()

1.0000000000000002

In [16]:
df[df.winner == 'H'].p232.sum()

0.5320320000000001

In [17]:
df[df.winner == 'L'].p232.sum()

0.46796799999999994

In [18]:
df[df.winner == 'H'].p22111.sum()

0.5320320000000001

In [19]:
df[df.winner == 'L'].p22111.sum()

0.46796799999999994