In [69]:
from fractions import Fraction
import itertools
import random
import pandas as pd

In [2]:
?random

In [4]:
random.randint(1,6)

1

In [49]:
def strict_incr(*d):
    return all(d[i] < d[i+1] for i in range(len(d)-1))

def roll(*dsizes):
    drolls = [random.randint(1,ds) for ds in dsizes]
    print(drolls)
    return strict_incr(*drolls)

def die(dsize):
    for d in range(1, dsize+1):
        yield d

print(die(4))
roll(4, 6, 8)

<generator object die at 0x7392ac7200>
[1, 4, 5]

True

In [18]:
4 * 6 * 8

192

In [62]:
data = []

for ds in itertools.product(die(4), die(6), die(8)):
    data.append(ds)
         
df = pd.DataFrame(data, columns=('d4', 'd6', 'd8'))
df['incr'] = df.apply(lambda row: strict_incr(*row.tolist()), axis=1)
df

     d4  d6  d8   incr
0     1   1   1  False
1     1   1   2  False
2     1   1   3  False
3     1   1   4  False
4     1   1   5  False
..   ..  ..  ..    ...
187   4   6   4  False
188   4   6   5  False
189   4   6   6  False
190   4   6   7   True
191   4   6   8   True

[192 rows x 4 columns]

In [71]:
res1 = Fraction(df['incr'][df['incr'] == True].count(), df['incr'].count())

Fraction(1, 4)

In [48]:
4*6*8*10*12*20

460800

In [65]:
data = []

for ds in itertools.product(die(4), die(6), die(8), die(10), die(12), die(20)):
    data.append(ds)
         
df2 = pd.DataFrame(data, columns=('d4', 'd6', 'd8', 'd10', 'd12', 'd20'))
df2['incr'] = df2.apply(lambda row: strict_incr(*row.tolist()), axis=1)
df2

        d4  d6  d8  d10  d12  d20   incr
0        1   1   1    1    1    1  False
1        1   1   1    1    1    2  False
2        1   1   1    1    1    3  False
3        1   1   1    1    1    4  False
4        1   1   1    1    1    5  False
...     ..  ..  ..  ...  ...  ...    ...
460795   4   6   8   10   12   16   True
460796   4   6   8   10   12   17   True
460797   4   6   8   10   12   18   True
460798   4   6   8   10   12   19   True
460799   4   6   8   10   12   20   True

[460800 rows x 7 columns]

In [77]:
res2 = Fraction(df2['incr'][df2['incr'] == True].count() , df2['incr'].count())
print(f"res2 = {res2}")
print("res2 = %.3f%%" % (res2 * 100.0,))

res2 = 2717/230400
res2 = 1.179%

In [73]:
Out[70]*100.0

1.179253472222222

#